# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\资料\学习资料\课程资料\大三种子班\大三下\qianrushikeshe\嵌入式课设-遥控小车\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
